body{
    background-color: #e1e1e1;
    height: 1000px;
    margin: 0;
    display: flex;
    justify-content: center;
}

/*--------------------------*\

         	SlideBar

\*--------------------------*/

.slidebar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #ffffff;
    transition: ease-in-out 0.3s;
    overflow: hidden;
    margin: 0;
}

.slidebar:hover{
    width: 200px;
}

.slidebar:hover > .item > .text{
    opacity: 1;
}

hr{
    height: 1px;
    color: #000000;
    margin: 15px 0;
}

.item{
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}

.item:hover{
    background-color: #d5d5d5;
    transition: .2s;
}

.item .icon{
    width: 40px;
    height: 35px;
    flex-shrink: 0;
}

.item .text{
    opacity: 0;
    transition: ease-in-out 0.3s;
    transition-delay: .2s;
    margin-left: 15px;
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
}
 
#menu{
    background-color: rgb(135, 188, 197);
}

#myself{
    background-color: rgb(190, 119, 122);
}

#projet{
	background-color: rgb(207, 192, 119);
}

#contact{
	background-color: rgb(119, 190, 130);
}

#parcours{
	background-color: rgb(190, 119, 159);
}

/*--------------------------*\S

         	Form

\*--------------------------*/

.form {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    gap: 20px;
	padding-top: 50px;
}

.form div{
    background-color: white;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	gap: 5px;
	flex-direction: column;
    align-items: center;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	box-shadow: 0 0 10px #0005;
	width: 30vw;
}

.form div span{
    text-decoration: underline
}

form {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	gap: 5px;
	flex-direction: column;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	box-shadow: 0 0 10px #0005;
	width: 30vw;
}

form h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
}

form input:not([type="submit"]), form textarea {
	border: none;
	padding: 10px 20px;
	width: calc(100% - 40px);
	outline: none;
	background-color: white;
	color: black;
	border-bottom: solid 1px #31525B;
	border-radius: 5px 5px 0 0;
}

form textarea {
	border-radius: 5px;
	width: calc(100% - 42px);
	resize: vertical;
	height: 15vh;
	border: 1px solid #31525B;
}

form label {
	position: relative;
}

form label span {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	background-color: #31525B;
	width: 0;
	transition: .30s;
}

form label input:valid+span {
	width: 100%;
}

form input[type="submit"] {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 3px;
	border: solid 1px #31525B;
	color: #31525B;
	background-color: transparent;
	transition: .2s;
}

form input[type="submit"]:hover {
	background-color: #31525B;
	color: #fff;
}

form span {
	font-size: 0.9em;
}

/*--------------------------*\

    pageTitle & divPage

\*--------------------------*/
.mainPart{
    width: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.pageTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
}

.pageTitle hr{
    height: 2px;
    width: 100px;
    background-color: #000000;
    margin: 0;
}
.pageTitle h1{
    color: #000000;
    letter-spacing: 4px;
    font-family: Impact, fantasy;
    font-size: xx-large;
    margin: 0;
}

/*--------------------------*\

        projects page

\*--------------------------*/

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}